<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST">
        <input name="Name" placeholder="Title" required><br>
        <input name="" placeholder="Title" required><br>
        <input name="title" placeholder="Title" required><br>
        <input name="title" placeholder="Title" required><br>
        <input name="title" placeholder="Title" required><br>
        <input name="title" placeholder="Title" required><br>
        <input name="title" placeholder="Title" required><br>
        <button>Create</button>
    </form>


</body>

</html>